/* added spacing to read the CSS code better */

*{
	margin:0%;
	padding:0%;
	box-sizing: border-box;
	font-family: sans serif ;

}

body {
	margin:0%;
	min-height: 100vh;
	background: linear-gradient(
		rgb(0, 79, 0),
    	rgb(255, 255, 255)
	);
}	

header {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding: 30px 100px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

header .Snake {
	color:black;
	font-weight: 600;
	text-decoration: none;
	font-size: 50pt;
	text-transform:uppercase;
	letter-spacing: 4px;
}

header ul {
	display: flex;
	justify-content: space-between;
	align-items:center;
	
}

header ul li {
	list-style:none;
	margin-left: 20px;
}

header ul li a {
	color:black;
	text-decoration: none;
	padding:6px 15px;
	border-radius: 20px;
	font-weight: 600;
	font-size: Achivo;
	
}

header ul li a:hover,
header ul li a.active {
	background:black;
	color: rgb(255, 255, 255);
	
}

main { 
	padding-top: 200;
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

#mein-canvas {
	background-color: grey;
}

/* i made the image the background image of the section and also made it reletive and placed it behind everything so it's on the background */
section {
	background-image: url(Schlangenflusterer.png);
	position: absolute;
    bottom: 0;
    right: 0;
	z-index: -1;

	height: 60%;
	width: 50%;
	background-size:contain;
	background-position: center;
	background-repeat: no-repeat;
}